/*General*/
*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
a {
    text-decoration: none;
    /*background-color: #444;
    color: white;
    padding: 8px;
    width: 180px;
    height: 50px;
    text-align: center;*/
}
ul, ol {
    list-style: none;
}
.ima{
    margin: 10px;
    width: 180px;
}
.pp{
    display: flex;
}
.ss{
    display: flex;
}

/*detail_s_bb*/
.ds{
    display: flex;
    align-content: end;
}
.poster{
    margin: 15px;
    width: 22vw;
}
.descripcion h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 900;
}
.descripcion p{
    display: flex;
    justify-content: center;
}

.dp{
    display: flex;
    align-content: end;
}
