/*General*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');
*{
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
    color: #11324F;
    /*font-family: 'Open Sans', sans-serif;*/
    text-decoration: none;
}
.navega{
    text-decoration: none;
    flex-wrap: wrap;
}
ul, ol {
    list-style: none;
    
}

/*Header*/
.logo{
    width: 250px;
}
.navbar{
    position:static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 65px;
    background-color: rgba(0,0,0,0.158);
    height: fit-content;
    

}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

#myNAV {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#myNAV li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
  
#myNAV li a:hover:not(.header) {
    background-color: #eee;
}
/*Sections principales*/
.playchill{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.playchill.sectionfav1{
    width: 100vw;
    height: fit-content;
    background-image: url(../img/back/download\ \(3\).jpg);
    flex-wrap: wrap;
}
.playchill.sectionfav2{
    width: 100vw;
    height: fit-content;
    background-image: url(../img/back/Radial\ Gradient\ Deep\ Blue\ Colour.jpg);
    flex-wrap: wrap;
}
.playchill.sectiont{
    height: fit-content;
    background-image: url(../img/back/raptivitytools\ tools.jpg);
}
.playchill.sectiond{
    height: fit-content;
    background-image: url(../img/back/download\ \(3\).jpg);
}
.playchill.section1{
    background-image: url(../img/back/download\ \(3\).jpg);
}
.playchill.section2{
    background-image: url(../img/back/Radial\ Gradient\ Deep\ Blue\ Colour.jpg);
}
.playchill.section3{
    background-image: url(../img/back/raptivitytools\ tools.jpg);
}
.playchill.section4{
    background-image: url(../img/back/download\ \(3\).jpg);
}
.playchill.section5{
    background-image: url(../img/back/Radial\ Gradient\ Deep\ Blue\ Colour.jpg);
}
.playchill.section6{
    background-image: url(../img/back/raptivitytools\ tools.jpg);
}
.playchill.sectiondrama{
    background-image: url(../img/generos/drama.jpeg);
    height: fit-content;
}
.playchill.sectionfantasy{
    background-image: url(../img/generos/Fantasy.jpeg);
    height: fit-content;
}
.playchill.sectioncrimen{
    background-color: gray;
    height: fit-content;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-weight: 300;
    flex-wrap: wrap;
}

.principal h2{
    position: relative;
    font-size: 5vw;
    color: #11324F;
    flex-wrap: wrap;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-weight: 900;
    position: relative;
    font-size: 5vw;
    color: #11324F;
    background-image: url(../img/back/raptivitytools\ tools.jpg);
    flex-wrap: wrap;
}
.gen{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: 100;
    position: relative;
    font-size: 20px;
    color: #11324F;
    background-image: url(../img/back/raptivitytools\ tools.jpg);

}
.titu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.titu h3{
    position: relative;
    font-size: 20px;
    color: #11324F;
}
.pp h4{
    position: relative;
    font-size: 12px;
    color: #11324F;
    padding: 5px;
}

/*Imagenes*/
.ima{
    margin-left: 10px;
    margin-right: 10px;
    width: 190px;
    flex-wrap: wrap;
}

/*General Body*/
.pp{
    display: flex;
    flex-wrap: wrap;
}
.ss{
    display: flex;
    flex-wrap: wrap;
}

/*detail_s_bb*/
.ds{
    display: flex;
    align-content: end;
    flex-wrap: wrap;
}
.poster{
    margin: 15px;
    width: 20vw;
}
.descripcion{
    padding: 50px;
    gap: 20px;
    justify-self: center;
    align-items: center;
}
.favs{
    margin-left: 100px;
    align-items: center;
    flex-wrap: wrap;
}
.descripcion h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 900;
    padding: 25px;
}
.descripcion p{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: medium;
}
.dp{
    display: flex;
    align-content: end;
}


/*Footer*/
.navfoot{
    position:static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 16px 40px;
    background-color: rgba(0,0,0,0.158);
    flex-wrap: wrap;
    height: fit-content;
}
.navfoot ul{
    display: flex;
    list-style: none;
    gap: 40px;
    flex-wrap: wrap;
    height: fit-content;
}

.buscadas {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imalogo{
    width: 140px;
}

/*Button*/
button:hover {
    background-color: #4CAF50; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
}
@keyframes spin {
    to {transform: rotate(360deg);}
}
  
button:active::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spin .8s linear infinite;
}

/* responsive*/
@media(max-width:420px){
    .navbar {
        flex-direction: column;
    }
}

@media(max-width:420px){
    .subpag {
        flex-direction: column;
    }
}

@media(max-width:420px){
    .footnom {
        flex-direction: column;
        height: 250px;
    }
}

@media(max-width:420px){
    .playchill.section1 {
        background-image: url(../img/back/download\ \(3\).jpg);
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:420px){
    .playchill.section2 {
         background-image: url(../img/back/Radial\ Gradient\ Deep\ Blue\ Colour.jpg);
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:420px){
    .playchill.sectiont {
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:420px){
    .pp {
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:420px){
    .pelicula a{
        display:flex;
        justify-content: center;
    }
}